<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>CERHI EATERY APP</title>

    <!-- my own styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
  </head>

  <body id="page-top">
    <!-- header section starts  -->

    <!-- <header class="header">
      <nav class="navbar nav-2">
        <section class="flex">
          <h3><a href="/" id="logo">BMC-Logo</a></h3>

          <h3><a href="/" id="logo">BENIN MEDICAL CENTRE</a></h3>

          <ul> -->
            <!-- <li><a href="#">saved <i class="far fa-heart"></i></a></li> -->
            <!-- <li>
              <a href="#">account <i class="fas fa-angle-down"></i></a>
              <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </header> -->

    <!-- header section ends -->
    <div class="container-fluid"><%- body %></div>
<!-- 
    <footer class="footer">
      <div class="credit">
        Developed by <span>GIVITEC LTD</span> | All rights reserved
      </div>
    </footer> -->
  </body>
  <!-- custom js file link  -->
</html>
